<div class="wrapper">
    <div class="tile" id="a">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="b">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="c">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="d">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="e">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="f">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="g">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="g">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="h">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="i">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="j">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="k">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="l">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="m">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="n">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="o">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="p">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="q">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="r">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="s">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="t">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="u">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="v">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="w">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="x">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="y">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="z">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="aa">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="ac">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="ae">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="af">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="ag">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="ah">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="ai">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="aj">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="ak">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="al">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="am">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="an">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="ao">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="ap">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="aq">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="ar">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="as">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
    <div class="tile" id="at">
        <div class="table-content centered">
            <p class="table-text">Vendor</p>
            <h3 class="table-number">123</h3>
            <p class="table-text">Business</p>
        </div>
    </div>
</div>